<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Uth-uk Assesment portal Test Automation Test Suite">

    <listeners>
        <listener class-name="Com.TestNGReportsGen.ExtentReporterNG" />
    </listeners>


    <test name="Uth-uk Assesment portal">
        <classes>
            <class name="Main.testcase.Testcase"></class>
<!--            <class name="com.crm.qa.testcases.HomePageTest"></class>-->
<!--            <class name="com.crm.qa.testcases.ContactsPageTest"></class>-->

        </classes>
    </test>
</suite>